/*Body
Pick a nice background-color, font-family, color,
font-size and line-height for the <body>. *Setting these
 font rules at the body-level will apply them on all basic text
 tags * (<p>, <li>, etc.).

Headers
Choose a nice color and font-family for headers (<h1>, <h2>, <h3>)
Choose harmonious font-size and line-height for headers
Hint: small headers are more elegant. If you check out any website
(Medium, Airbnb, etc.), you'll see that the font-size of their headers
is quite small.

Links
Change the color & text-decoration of all the links
Add hover effects to links using the pseudo-class a:hover.*/

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: rgb(50, 50, 50);
    font-size: 14px;
    font-family: Helvetica;
    line-height: 1.6em;
    background: url("images/background.jpg");
    background-position: cover;
}

/*.background {
  background: url("images/background.jpg");

}*/

h1, h2, h3 {
  font-family: 'Berkshire+Swash';
  font-weight: 900;
  color: rgba(193, 36, 53, 0.9);
}

h3 {
  color: rgb(31, 78, 106);
}

.container {
    width: 500px;
    margin: 30px auto;
    text-align: center;
}

.card {
  background-color: rgba(251, 230, 181, 0.8);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgb(251, 230, 181);
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 20px;
}

.fa {
  color: #C23642;
}

.list-inline {
  padding-left: 0px;
}

td img {
  border-radius: 5px;
  height: 220px;
  width: 236px;
}
